@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "poppins","sans-serif";
    
}

body {
    display: flex;
    max-width: 100%;
    min-height: 100vh;
    background: var(--background-color);
}

:root {
    --background-color: #262626;
    --alternative-color: #ffffff;
    --ft-100: 1rem;
    --ft-200: 1.25rem;
    --ft-300: 1.5rem;
    --ft-400: 1.8rem;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 600; 
}


.ft-100{ 
    font-size: var(--ft-400);
}
.ft-200 {
    font-size: var(--ft-300);
}
.ft-300 {
    font-size: var(--ft-200);
}
.ft-400 {
    font-size: var(--ft-100);
}
.fw-400{ 
    font-weight: 400;
}
.fw-500 {
    font-weight: 500;
}
.fw-600 {
    font-weight: 600;
}
li,a {
    list-style-type: none;
    text-decoration: none;
    margin-bottom: 7px;
    color: var(--background-color);
}


/* Menu-lateral */
.menu-lateral {
    display: none;
    max-width: 250px;
    width: 100%; 
}

#boxing {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;   
}

.menu-lateral .sidebar {
    display: block;
    width: 50px;height: 50px;
    background: #ffffff;
    border: 1px solid #000;
}

.menu-lateral .links {
    position: fixed;
    padding: 20px;
    height: 100%;
    background-color: var(--alternative-color);
}

.sub-menu {
    margin-bottom: 30px;
}

.sub-menu a:hover {
    transition: all 0.1s ease-in;
    width: 100%;
    background-color: #262626;
    color: var(--alternative-color);
    border-radius: 10px;
    padding: 2px 8px;
}

/* Hero Content */

#alternative-content {
    display: flex;
    flex-direction: column;
    gap: 20rem;
    height: 100%; max-width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-35%);
}

.main-content {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.main-content .sec {
    max-width: 1080px; 
    width: 100%; height: 100%;
    border: 1px solid #ffff;
    padding: 20px;
}

.camp-visual {
    display: flex;
    align-items: center;  
    justify-content: center;
    gap: 50px;  
    width: 100%;
    height: 370px;
    margin-bottom: 3rem;
    padding: 20px;
    background-color: #ffffff;
}

.camp-visual .dis-block {
    text-align: center;
}

.camp-visual .dis-block .box {
    width: 450px;
    height: 40px;
    margin-bottom: 30px;
    background-color: #262626;
}

.camp-description {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: var(--alternative-color)
}

.camp-description .desc {
    text-wrap: wrap;
    width: 40%;
}

.camp-description .desc > div {
    margin-bottom: 20px;
}


/* Grid template rows */
.flex {
    display: flex;
    flex-direction: column;
}
.camp-visual .grid-rows {
    display: grid;
    grid-template-rows: repeat(2, 100px);
    width: 100%;
    gap: 20px;
}

.camp-visual .grid-rows .box {
    background-color: #262626;
}

/* Grid template areas */

.camp-visual .grid-areas {
    display: grid;
    grid-template-areas: 
    "section1 section3 section3"
    "section2 section4 section5"
    "section2 section6 section6";
    gap: 10px;
    width: 80%; height: 500px;
    
}

.box1 {
    grid-area: section1;
    background-color: #262626;
}
.box2 {
    grid-area: section2;
    background-color: #262626;
}
.box3 {
    grid-area: section3;
    background-color: #262626;
}
.box4 {
    grid-area: section4;
    background-color: #262626;
}
.box5 {
    grid-area: section5;
    background-color: #262626;
}
.box6 {
    grid-area: section6;
    background-color: #262626;
}

/* Grid template columns */

.camp-visual .grid-columns {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 20px;
    height: 100%;
}

.camp-visual .grid-columns .box {
    background-color: #262626;
}

/* Gap */

.camp-visual .gap {
    gap: 20rem;
}